<?xml version="1.0"?>
<robot name="irb120_with_gripper" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_with_gripper)/urdf/ur_with_gripper_macro.xacro" />
  <xacro:include filename="$(find ur_with_gripper)/urdf/irb120_ros2control.xacro" />

  <xacro:arg name="sim_ignition" default="false" />
  <xacro:arg name="simulation_controllers" default="" />

  <link name="world" />

  <!-- Minimale Boden-Definition nur für die Kinematik (ohne Visuals) -->
  <link name="floor">
    <!-- Keine visuellen oder Kollisionselemente - werden über add_objects_node hinzugefügt -->
    <inertial>
      <mass value="100"/>
      <inertia ixx="10.0" ixy="0.0" ixz="0.0" iyy="10.0" iyz="0.0" izz="20.0"/>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </inertial>
  </link>

  <!-- Verbinde den Boden mit der Welt -->
  <joint name="world_to_floor" type="fixed">
    <parent link="world"/>
    <child link="floor"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Minimale Montageblock-Definition nur für die Kinematik (ohne Visuals) -->
  <link name="mounting_block">
    <!-- Keine visuellen oder Kollisionselemente - werden über add_objects_node hinzugefügt -->
    <inertial>
      <mass value="50"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </inertial>
  </link>

  <!-- Verbinde den Montageblock mit dem Boden -->
  <joint name="floor_to_block" type="fixed">
    <parent link="floor"/>
    <child link="mounting_block"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
  </joint>

  <!-- This will create the IRB 120 robot with gripper -->
  <xacro:irb120_with_gripper
    parent="mounting_block"
    simulated="$(arg sim_ignition)"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:irb120_with_gripper>

  <!-- Include ros2_control for IRB 120 -->
  <xacro:irb120_ros2_control simulated="$(arg sim_ignition)" />

  <xacro:if value="$(arg sim_ignition)">
    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(arg simulation_controllers)</parameters>
        <controller_manager_node_name>controller_manager</controller_manager_node_name>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
